 
 header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../photo/c16ece4d81.jpg");
    background-size: cover;
    background-position: center;

  }
 
 
 h1{
    font-size:80px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 36px;
    color: white;
}
.btn{
    border: rgb(0, 0, 0) solid 3px;
    border-radius:10px ;
    background-color: rgb(255, 255, 255);
    color: rgb(87, 87, 87);
    width: 250px;
    height: 80px;

}
.btn:hover{
    background-color: rgb(13, 21, 27);;
    color: rgb(255, 255, 255);
}